{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-6">
                <h2 class="text-secondary mt-5">PERSONAL INFORMATIONS</h2>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-dark">Create Account</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}