{% extends 'base.html.twig' %}

{% block title %}Hello RewardController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Enjoy more rewards with Starbucks® Rewards</h2>
                <p class="text-secondary">What to expect: rewards of all kinds and above all, free drinks!</p>
                <div class="mt-5">
                    <h1>Your stars are accumulating quickly.</h1>
                    <p class="text-secondary">Watch your stars add up and earn more drinks</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
