{% extends 'base.html.twig' %}

{% block title %}Hello MenuController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6 mt-5 px-5">
                <div>
                    <div>
                        <h2 class="text-center ">Menu</h2>
                        <p class="d-flex justify-content-center"><strong>De délicieuses boissons préparées à la main et de savoureux produits sucrés et salés. Un univers d’arômes et de saveurs qui embellit la vie.</strong></p>
                        <p style="color: gray">Il est vrai qu’une tasse de café parfaite et un délicieux petit encas peuvent rendre votre journée meilleure. Venez découvrir nos « mariages parfaits » dans nos salons de café. Nous nous assurons que chaque produit que vous choisissez soit de la plus grande qualité. Après tout, la vie ne devrait-elle pas être ainsi ?</p>
                    </div>
                    <div>
                        <img class="item" src="{{ asset('image/drink.jpeg') }}" alt="Example image" style="padding-bottom: 20px; height: 300px;width: 300px;">
                        <br>
                        <div>
                            <h3>Drinks</h3>
                            <p style="padding-bottom: 30px; ">
                                Des cafés surprenants issus du monde entier. Des boissons préparées devant vous, à découvrir et à savourer.
                                <br>
                                <a  class="btn btn-outline-success" href="{{ path('app_drink_index') }}">Drinks</a>
                            </p>
                        </div>
                        <img class="item" src="{{ asset('image/food.jpeg') }}" alt="Example image" style="padding-bottom: 20px;height: 300px;width: 300px;">
                        <br>
                        <div>
                            <h3>Food</h3>
                            <p>
                                Nos pâtisseries et sandwiches sont fabriqués à partir d’ingrédients simples de qualité supérieure.
                                <br>
                                <a class="btn btn-outline-success" href="{{ path('app_food_index') }}">Food</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
                <div class="col-3">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
